<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/ui.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800&display=swap" rel="stylesheet">
    <title><%= bot ? bot.user.username : "YouTube Simulator" %></title>
    <link rel="shortcut icon" href="<%= bot.user.displayAvatarURL %>" type="image/x-icon">
</head>
<body>
<%- include("./partials/nav.ejs") %>
<div class="heading text-center">
    <h1 class="display-5 title"><%= bot ? bot.user.username : "YouTube Simulator" %></h1>
    <p class="subtitle">Become your dream youtuber, with Youtube simulator!</p>
    <a class="btn btn-primary btn-lg" href="#start_link" role="button">Discord</a>
    <a class="btn btn-secondary btn-lg" href="https://discordapp.com/api/oauth2/authorize?client_id=681376963356524558&permissions=8&scope=bot" role="button">Invite</a>
    <br /><br /><br /><br /><br /><br />
</div>
<div class="features">
    <div class="title">Features of Bot</div>
    <div class="subtitle">YouTube Simulator uwu!</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Easy & Simple</h5>
            <p class="card-text">YouTube Simulator bot is simple and easy to use.</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">24/7 Support</h5>
                <p class="card-text">We provide 24/7 support for YouTube Simulator bot.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Economy</h5>
                <p class="card-text">YouTube Simulator has its own economy system.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Uptime</h5>
              <p class="card-text">YouTube Simulator bot has stable uptime.</p>
            </div>
        </div>
    </div>
</div>
<div class="statistics">
    <div class="cards">
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Servers</h5>
                <h1 style="font-weight: bold !important"><%= bot ? bot.guilds.size.toLocaleString() : 0 %></h1>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <h1 style="font-weight: bold !important"><%= bot ? bot.users.size.toLocaleString() : 0 %></h1>
            </div>
        </div>
        <div class="card statistic" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Commands</h5>
                <h1 style="font-weight: bold !important"><%= bot ? bot.commands.size.toLocaleString() : 0 %></h1>
            </div>
        </div>
    </div>
</div>
<div class="start">
    <div class="card">
        <div class="card-body bg-dark text-white">
            <div class="title">Get started now!</div>
            <div class="subtitle">What are you waiting for? Quick!</div>
            <br />
            <a class="btn btn-primary btn-lg" href="https://discordapp.com/api/oauth2/authorize?client_id=681376963356524558&permissions=8&scope=bot" role="button">Get started</a>
        </div>
  </div>
  <br />
</div>
<%- include("./partials/footer.ejs") %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/ui.js"></script>
  <script src="/script.js"></script>
</body>
</html>